<% if (nav.layout) { %>

<% if (nav.prevPage || nav.nextPage) { %> 
<nav class="page-navigation">
  <div class="nav-page nav-page-previous">
    <% if (nav.prevPage) { %>
      <a  href="<%- nav.prevPage.href %>" class="pagination-link  aria-label="<%= nav.prevPage.text %>">
        <i class="bi bi-arrow-left-short"></i> <span class="nav-page-text"><%= nav.prevPage.text %></span>
      </a>          
    <% } %>
  </div>


  <div class="nav-page nav-page-next">
    <% if (nav.nextPage) { %>
      <a  href="<%- nav.nextPage.href %>" class="pagination-link" aria-label="<%= nav.nextPage.text %>">
        <span class="nav-page-text"><%= nav.nextPage.text %></span> <i class="bi bi-arrow-right-short"></i>
      </a>
    <% } %>
  </div>

</nav>
<% } %>

</div> <!-- /content -->


<% if (nav.footer && (nav.footer.left || nav.footer.center || nav.footer.right)) { %>
<footer class="footer">
  <div class="nav-footer">

    <div class="nav-footer-left">
      <% if (nav.footer.left) { %> 
      <% partial('nav-footer-section.ejs', { contents: nav.footer.left })%>
      <% } else { %>
      &nbsp;
      <% } %>
    </div>   
    <div class="nav-footer-center">
      <% if (nav.footer.center) { %> 
      <% partial('nav-footer-section.ejs', { contents: nav.footer.center}) %>
      <% } else { %>
      &nbsp;
      <% } %>
    </div>
    <div class="nav-footer-right">
      <% if (nav.footer.right) { %> 
      <% partial('nav-footer-section.ejs', { contents: nav.footer.right}) %>
      <% } else { %>
      &nbsp;
      <% } %> 
    </div>
    
  </div>
</footer>
<% } %>

<% } %>
