
<% /* Container that holds search results (when using the non-floating style.) */ %>
<div id="quarto-search-results"></div>

  
  <% /* The header will hold the navbar (if present) and/or a container for the collapsed sidebar */ %>
  <% if (nav.navbar || nav.sidebar) { %>  
  <header id="quarto-header" class="headroom fixed-top">

  <% if (nav.navbar) { %>  
    <nav class="navbar navbar-expand<%- nav.navbar["collapse-below"] %> navbar-light <%- nav.navbar.background === "none" || nav.navbar.background === "body" ? "border-bottom" : "" %>">
      <% if (nav.sidebar && nav.sidebar.style === "floating") { %>
        <div class="container-fluid mx-auto w-100">
      <% } else { %>
        <div class="container-fluid w-100">
      <% } %>
      <% partial('navbrand.ejs', nav.navbar) %>
      <% if (nav.navbar.left || nav.navbar.right) { %>  
        <% if (nav.navbar.collapse) { %>
          <% partial('navtoggle.ejs') %>
          <% partial('navcollapse.ejs') %>
            <% partial('navitems.ejs', { align: 'start', items: nav.navbar.left}) %>
            <% partial('navitems.ejs', { align: 'end', items: nav.navbar.right }) %>
            <% if (nav.navbar.darkToggle) { %>
              <div>
                <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
              </div>
            <% } %>    
            <% if (nav.navbar.search) { %>
              <% partial('navsearch.ejs',  { classes: '' }) %>
            <% } %>
          </div> <!-- /navcollapse -->
        <% } else { %>
          <% partial('navitems.ejs', { align: 'start', items: nav.navbar.left}) %>
          <% partial('navitems.ejs', { align: 'end', items: nav.navbar.right }) %>
          <% if (nav.navbar.darkToggle) { %>
            <div>
            <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
            </div>
          <% } %>    
          <% if (nav.navbar.search) { %>
            <% partial('navsearch.ejs',  { classes: '' }) %>
          <% } %>
        <% } %> 
      <% } else { %>
        <% if (nav.navbar.darkToggle) { %>
          <div class="ms-auto">
            <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
          </div>
        <% } %>    
        <% if (nav.navbar.search) { %>
          <% partial('navsearch.ejs',  { classes: '' }) %>
        <% } %>
      <% } %>

      </div> <!-- /container-fluid -->
    </nav>
<% } %>

<% if (nav.sidebar && nav.layout) { %>
  <% let textCss = nav.sidebar.type ? nav.sidebar.type === "dark" ? "text-light" : "text-dark" :  "" %>
  <nav class="quarto-secondary-nav d-lg-none d-md-block <%= textCss %>" 
        data-bs-toggle="collapse" data-bs-target="#quarto-sidebar" 
        aria-controls="quarto-sidebar" aria-expanded="false" aria-label="Toggle sidebar navigation"
        onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }"
  >
    <div class="container-fluid d-flex justify-content-between">
      <h1 class="quarto-secondary-nav-title mb-0 fs-3 d-inline"></h1>
      <button type="button" 
        class="quarto-btn-toggle btn d-lg-none py-0 px-1 d-inline-block border-0 <%= textCss %>">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </nav>
<% } %>

</header>
<% } %> <!-- /navbar/sidebar -->

<% if (nav.layout) { %>

<% targetDiv = !nav.sidebar || nav.sidebar.style === "floating" %>

<div id="quarto-content" class="quarto-container base-grid content-grid-rows page-layout-<%- nav.layout %>">

<% if (nav.sidebar) { %>
  <% borderColor = nav.sidebar['border-color'] ? "border-" + nav.sidebar['border-color'] : "" %>
  <% partial('sidebar.ejs', { sidebar: nav.sidebar, navbar: !!nav.navbar }) %>
<% } %>

<% if (nav.layout === "article" && nav.toc) { %>
    <div id="quarto-toc-sidebar" class="sidebar sidebar-toc"></div>
<% } %>

<main class="content base-grid">

<% } %>




