<% if (nav.layout) { %>

</main>


<div class="row page-navigation <%- nav.sidebar.style !== "floating" ? "page-navigation-docked" : ""  %>">

  <div class="nav-page nav-page-previous col">
    <% if (nav.prevPage) { %>
      <a  href="<%- nav.prevPage.href %>">
        <i class="bi bi-arrow-left-short"></i> <span class="nav-page-text"><%= nav.prevPage.text %></span>
      </a>          
    <% } %>
  </div>


  <div class="nav-page nav-page-next col">
    <% if (nav.nextPage) { %>
      <a  href="<%- nav.nextPage.href %>">
        <span class="nav-page-text"><%= nav.nextPage.text %></span> <i class="bi bi-arrow-right-short"></i>
      </a>
    <% } %>
  </div>

</div>

<% if (nav.footer) { %>
  <div class="row nav-footer">
    <div class="nav-footer-contents"><%=nav.footer%></div>
  </div>
<% } %>


</div> <!-- /main column -->

<% if (nav.toc) { %>
<div id="quarto-toc-sidebar" class="col col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-toc">
  
</div> <!-- /toc column -->
<% } %>

</div> <!-- /row -->

</div> <!-- /container fluid -->

<% } %>