
<div id="quarto-search-results"></div>

<% if (nav.navbar || nav.sidebar) { %>  

<header id="quarto-header" class="headroom fixed-top">

<% if (nav.navbar) { %>  



<nav class="navbar navbar-expand<%- nav.navbar["collapse-below"] %> navbar-light <%- nav.navbar.background === "none" || nav.navbar.background === "body" ? "border-bottom" : "" %> px-3">
  <% if (nav.sidebar && nav.sidebar.style === "floating") { %>
    <div class="container-fluid mx-auto">
  <% } else { %>
    <div class="container-fluid">
  <% } %>
  <% partial('navbrand.ejs', nav.navbar) %>
  <% if (nav.navbar.left || nav.navbar.right) { %>  
    <% if (nav.navbar.collapse) { %>
      <% partial('navtoggle.ejs') %>
      <% partial('navcollapse.ejs') %>
        <% partial('navitems.ejs', { align: 'start', items: nav.navbar.left}) %>
        <% partial('navitems.ejs', { align: 'end', items: nav.navbar.right }) %>
        <% if (nav.navbar.darkToggle) { %>
          <div>
            <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
          </div>
        <% } %>    
        <% if (nav.navbar.search) { %>
          <% partial('navsearch.ejs',  { classes: '' }) %>
        <% } %>
      </div> <!-- /navcollapse -->
    <% } else { %>
      <% partial('navitems.ejs', { align: 'start', items: nav.navbar.left}) %>
      <% partial('navitems.ejs', { align: 'end', items: nav.navbar.right }) %>
      <% if (nav.navbar.darkToggle) { %>
        <div>
        <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
        </div>
      <% } %>    
      <% if (nav.navbar.search) { %>
        <% partial('navsearch.ejs',  { classes: '' }) %>
      <% } %>
    <% } %> 
  <% } else { %>
    <% if (nav.navbar.darkToggle) { %>
      <div class="ms-auto">
        <% partial('navdarktoggle.ejs', { classes: 'nav-link' }) %>
      </div>
    <% } %>    
    <% if (nav.navbar.search) { %>
      <% partial('navsearch.ejs',  { classes: '' }) %>
    <% } %>
  <% } %>

  </div> <!-- /container-fluid -->
</nav>

<% } %>

<% if (nav.sidebar && nav.layout) { %>

<% let textCss = nav.sidebar.type ? nav.sidebar.type === "dark" ? "text-light" : "text-dark" :  "" %>

<nav class="quarto-secondary-nav py-2 px-3 d-lg-none d-md-block <%= textCss %>" 
      data-bs-toggle="collapse" data-bs-target="#quarto-sidebar" 
      aria-controls="quarto-sidebar" aria-expanded="false" aria-label="Toggle sidebar navigation"
      onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }"
>
  <div class="container-fluid d-flex justify-content-between">
    <h1 class="quarto-secondary-nav-title mb-0 fs-3 d-inline"></h1>
    <button type="button" 
      class="quarto-btn-toggle btn d-lg-none py-0 px-1 d-inline-block border-0 <%= textCss %>">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</nav>

<% } %>

</header>

<% } %> <!-- /navbar/sidebar -->

<% if (nav.layout) { %>

<%
targetDiv = !nav.sidebar || nav.sidebar.style === "floating"
%>

<div class="container-fluid quarto-container d-flex flex-column page-layout-<%- nav.layout %>" <%= targetDiv ? 'id="quarto-content"' : "" %>>
<div class="grid" <%= !targetDiv ? 'id="quarto-content"' : "" %>>

<% marginCss = "mx-auto" %>
<% bodyXxlPadding = (nav.sidebar && nav.sidebar.style === "floating") ? " ps-xxl-3" : " ps-xxl-0" %>
<% if (nav.sidebar) { %>
  <% borderColor = nav.sidebar['border-color'] ? "border-" + nav.sidebar['border-color'] : "" %>
  <% marginCss = nav.sidebar.style === "floating" ? "mx-auto" : "me-auto" %>
  
  <div id="quarto-sidebar" class="g-col-24 g-col-lg-6 d-lg-flex px-0 pt-0 sidebar collapse sidebar-navigation">
    <% partial('sidebar.ejs', { sidebar: nav.sidebar, navbar: !!nav.navbar }) %>
  </div>
<% } %>

<% if (nav.layout === "article") { %>

  <% if (nav.toc) { %>
  <div id="quarto-toc-sidebar" class=" pt-0 g-col-md-6 g-col-lg-4 d-none d-md-block px-3 sidebar sidebar-toc order-last"></div>
  <div class="mx-auto px-3 g-col-sm-24 g-col-md-18 g-col-lg-<%- nav.sidebar ? '14' : '16' %> g-col-xl-14 px-lg-4 pe-xxl-4<%- bodyXxlPadding %>">
  <% } else { %>
  <div class="mx-auto px-3 g-col-sm-124 g-col-md-22 g-col-lg-18 px-lg-8">
  <% } %>

<% } else { %>
  <% if (nav.sidebar) { %>
  <div class="g-col-24 g-col-lg-18 px-3">
  <% } else { %>
  <div class="g-col-24 px-3">
  <% } %>
<% } %>

<main>

<% } %>




