<% if (nav.layout) { %>

</main>

</div> <!-- /main column -->

<% if (nav.toc) { %>
<div id="quarto-toc-sidebar" class="col col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-toc">
  
</div> <!-- /toc column -->
<% } %>

</div> <!-- /row -->

<div class="row page-navigation page-navigation-<%- nav.sidebar.style %>">

  <div class="nav-page nav-page-previous col col-6">
    <% if (nav.prevPage) { %>
      <div class="nav-page-arrow">
        <a  href="<%- nav.prevPage.href %>">
          <i class="bi bi-arrow-left-short"></i>
        </a>          
      </div>
      <div class="nav-page-text-container">
        <div class="nav-page-text">
            <a  href="<%- nav.prevPage.href %>">
              <%- nav.prevPage.text %>
            </a>
        </div>
      </div>
    <% } %>
  </div>

  <div class="nav-page nav-page-next col col-6">
    <% if (nav.nextPage) { %>
      <div class="nav-page-text-container">
        <div class="nav-page-text">
            <a  href="<%- nav.nextPage.href %>">
              <%- nav.nextPage.text %>
            </a>
        </div>
      </div>
      <div class="nav-page-arrow">
        <a  href="<%- nav.nextPage.href %>">
          <i class="bi bi-arrow-right-short"></i>
        </a>          
      </div>
    <% } %>
  </div>

</div>

</div> <!-- /container fluid -->

<% } %>