<% if (nav.layout) { %>

</main>


<div class="page-navigation <%- nav.sidebar && nav.sidebar.style !== "floating" ? "page-navigation-docked" : ""  %>">

  <div class="nav-page nav-page-previous">
    <% if (nav.prevPage) { %>
      <a  href="<%- nav.prevPage.href %>">
        <i class="bi bi-arrow-left-short"></i> <span class="nav-page-text"><%= nav.prevPage.text %></span>
      </a>          
    <% } %>
  </div>


  <div class="nav-page nav-page-next">
    <% if (nav.nextPage) { %>
      <a  href="<%- nav.nextPage.href %>">
        <span class="nav-page-text"><%= nav.nextPage.text %></span> <i class="bi bi-arrow-right-short"></i>
      </a>
    <% } %>
  </div>

</div>


</div> <!-- /main column -->

</div> <!-- /row -->
<% if (nav.footer && (nav.footer.left || nav.footer.center || nav.footer.right)) { %>
<div class="row">
  <div class="nav-footer">
    <% if (nav.footer.left) { %> 
    <div class="nav-footer-left me-auto">
      <% partial('nav-footer-section.ejs', { contents: nav.footer.left })%>
    </div>   
    <% } %>
    <% if (nav.footer.center) { %> 
      <div class="nav-footer-center me-auto ms-auto">
        <% partial('nav-footer-section.ejs', { contents: nav.footer.center}) %>
      </div>
    <% } %>
    <% if (nav.footer.right) { %> 
    <div class="nav-footer-right ms-auto">
      <% partial('nav-footer-section.ejs', { contents: nav.footer.right}) %>
    </div>
    <% } %> 
  </div>
</div>
<% } %>

</div> <!-- /container fluid -->

<% } %>