<% if (navbar.title || (navbar.logo && (navbar.logo.light || navbar.logo.dark))) { %>
  <div class="navbar-brand-container mx-auto">
  <% if (navbar.logo && (navbar.logo.light || navbar.logo.dark)) { %>
    <a href="<%- navbar['logo-href'] || '/index.html' %>" class="navbar-brand navbar-brand-logo">
    <% if (navbar.logo.light) { %>
    <img src="<%- navbar.logo.light.path %>" alt="<%- navbar.logo.light.alt || '' %>" class="navbar-logo light-content" />
    <% } %>
    <% if (navbar.logo.dark) { %>
    <img src="<%- navbar.logo.dark.path %>" alt="<%- navbar.logo.dark.alt || '' %>" class="navbar-logo dark-content" />
    <% } %>
    </a>
  <% } %>

  
  <% if (navbar.title) { %>
    <a class="navbar-brand" href="<%- navbar['logo-href'] || '/index.html' %>">
    <span class="navbar-title"><%- navbar.title %></span>
    </a>
  <% } %>
  </div>
<% } %>
