<% if (item.href && item.text && !item.contents) { %>
<li class="sidebar-item">
  <a href="<%- item.href %>" class="<%- item.active ? "active" : "" %>"><%= item.text %></a>
</li>
<% } else if (item.contents && item.text) { %>  
  <% sectionId = (item.text + "-collapse").toLowerCase().replace(/\s/g,'').replace(/:/, "") %>
  <% isCollapsed = collapse <= depth  && !item.expanded %>

  <ul class="list-unstyled sidebar-section depth<%-depth%>">
    <li class="">
        <div class="me-auto <%- textStyleCss %>">
          <% if (item.href) { %>
          <div class="d-inline-flex w-100 <%- depth === 1 ? "sidebar-section-item" : "sidebar-item" %>">
            <div class="sidebar-section-link me-auto <%- textStyleCss %>">
            <a href="<%- item.href %>" class="<%- item.active ? "active" : "" %>"><%= item.text %></a>
            </div>
            <a class="text-start <%- isCollapsed ? "collapsed" : "" %> " data-bs-toggle="collapse" data-bs-target="#<%- sectionId %>" aria-expanded="<%- isCollapsed ? "false" : "true" %>">
              <div><i class="bi bi-chevron-right ms-2 <%- textStyleCss %>"></i></div>
            </a>
            </div>
          <% } else { %>
            <a class="sidebar-section-item d-inline-flex text-start w-100 <%- isCollapsed ? "collapsed" : "" %>" data-bs-toggle="collapse" data-bs-target="#<%- sectionId %>" aria-expanded="<%- isCollapsed ? "false" : "true" %>">
              <div class="me-auto <%- textStyleCss %> <%- depth === 1 ? "sidebar-section-item" : "sidebar-item" %>"><%= item.text %></div>
            <div><i class="bi bi-chevron-right ms-2 <%- textStyleCss %>"></i></div>
            </a>
          <% }  %>
        </div>
      
      <div class="collapse  <%- isCollapsed ? "" : "show" %>" id="<%- sectionId %>">
        <ul class="list-unstyled sidebar-item-contents">
        <% item.contents.forEach(subItem => { %>
          <% partial('sidebaritem.ejs', { item: subItem, depth: depth + 1, collapse: collapse, borderColor: borderColor, textStyleCss: textStyleCss }) %>
         <% }) %>
        </ul>
      </div>
    </li>
  </ul>
<% } else if (item.text && item.text.match(/^\-+$/)) { %>
<li class="px-0"><hr class="sidebar-divider hi <%- borderColor %>"></li>
<% } %>
