<% 

let mCss = sidebar.style === "floating" ? "ms-lg-auto" : "me-lg-auto";
let styleCss = sidebar.style === "floating" ? "floating" : "docked";
let textStyleCss = sidebar.type ? sidebar.type === "dark" ? "text-light" : "text-dark" :  "";

let alignCss = ""
if (sidebar.align === "left") {
  alignCss = "text-start";
} else if (sidebar.align === "right") {
  alignCss = "text-end";
} else {
  alignCss = "text-center";
}
%>

<nav class="<%- mCss %> py-2 <%- styleCss %> <%- textStyleCss %> overflow-scroll ">
  <div class="px-3 pt-lg-3 <%= alignCss %>">
    <% if (sidebar.logo) { %>
    <img src="<%- sidebar.logo %>" alt="" class="sidebar-logo my-1 py-0 d-lg-inline d-none"/>
    <% } %>
    
    <% if (sidebar.title) { %>
    <h4 class="sidebar-title text-center mt-1 mb-0 py-0"><%- sidebar.title %></h4>
    <% } %>

    <% if (sidebar.subtitle) { %>
    <div class="sidebar-subtitle lead mt-1 pb-0 text-center"><%- sidebar.subtitle %></div>
    <% } %>

    <% if (sidebar.tools) { %>
      <% partial('sidebartools.ejs', { tools: sidebar.tools, className: 'sidebar-tools-main' })%>
    <% } %>
  </div>
  <% if (sidebar.search) { %>
    <div class="d-flex px-3 mt-2">
      <div class="sidebar-search flex-fill">
      <% partial('navsearch.ejs', { search: sidebar.search }) %>
      </div>
      <% partial('sidebartools.ejs', { tools: sidebar.tools, className: 'sidebar-tools-collapse' })%>
    </div>
  <% } %>

  <div class="sidebar-menu-container"> 
  <ul class="list-unstyled mt-3 px-3">
  <% sidebar.contents.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor, textStyleCss: textStyleCss }) %>
  <% }) %>
  </ul>
  </div>

  <% if (sidebar.footer) { %>
    <div class="sidebar-footer"><%= sidebar.footer %></div>
  <% } %>

</nav>