<% 

let mCss = sidebar.style === "floating" ? "ms-lg-auto" : "me-lg-auto";
let styleCss = sidebar.style === "floating" ? "floating" : "docked";

let alignCss = ""
if (sidebar.align === "center") {
  alignCss = "text-center";
} else if (sidebar.align === "right") {
  alignCss = "text-end";
} else {
  alignCss = "text-left";
}
%>

<nav class="<%- mCss %> <%- styleCss %> overflow-auto">
  
   <% if (sidebar.logo || (sidebar.title && !navbar) || sidebar.tools) { %>
  <div class="px-3 pt-lg-2 mt-2 <%= alignCss %> sidebar-header<%= sidebar.logo && sidebar.title ? ' sidebar-header-stacked' : '' %>">
    <% if (sidebar.logo) { %>
    <img src="<%- sidebar.logo %>" alt="" class="sidebar-logo py-0 d-lg-inline d-none"/>
     <% if (sidebar.tools && !sidebar.title) { %>
      <% partial('sidebartools.ejs', { tools: sidebar.tools, className: 'sidebar-tools-main', darkToggle: sidebar.darkToggle })%>
     <% } %> 
    <% } %>
    
    <% if (!navbar || sidebar.tools) { %>
    <% if (sidebar.title) { %>
    <div class="sidebar-title mb-0 py-0">
      <% if (!navbar) { %>
      <a href="/">
      <%- sidebar.title %>
      </a> 
      <% } %>  
      <% if (sidebar.tools) { %>
        <% partial('sidebartools.ejs', { tools: sidebar.tools, className: 'sidebar-tools-main', darkToggle: sidebar.darkToggle })%>
      <% } %>  
    </div>
    <% } %>
    <% } %>

  </div>
  <% } %>

  <% if (sidebar.search) { %>
    <div class="d-flex px-3 mt-2 flex-shrink-0 align-items-center">
      <div class="sidebar-search">
      <% partial('navsearch.ejs') %>
      </div>
      <% if (sidebar.tools) { %>
        <% partial('sidebartools.ejs', { tools: sidebar.tools, className: 'sidebar-tools-collapse', darkToggle: sidebar.darkToggle })%>
      <% } %>
    </div>
  <% } %>

  <div class="sidebar-menu-container"> 
  <ul class="list-unstyled mt-1 px-3">
  <% sidebar.contents.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor }) %>
  <% }) %>
  </ul>
  </div>

  <% if (sidebar.footer) { %>
    <div class="sidebar-footer"><%= sidebar.footer %></div>
  <% } %>

</nav>