<% 
borderStart = ""
borderEnd = ""
bgCss = "bg-body"
mCss = "ms-lg-auto"
sidebarStyle = sidebar.style
if (sidebar.style !== "floating") { 
  borderStart = "border-start"
  borderEnd = "border-end" 
  bgCss = "bg-light" 
  mCss = "me-lg-auto"
  sidebarStyle = "anchored"
} 

alignCss = ""
if (sidebar.align === "left") {
  alignCss = "align-items-start"
} else if (sidebar.align === "right") {
  alignCss = "align-items-end"
} else {
  alignCss = "align-items-center"
}
%>

<nav class="<%- mCss %> py-2 <%- borderStart %> <%- borderEnd %> <%- borderColor %> <%- bgCss %> <%- sidebarStyle %> overflow-scroll ">
  <div class="px-4 d-flex flex-column <%= alignCss %>">
    <% if (sidebar.logo) { %>
    <img src="<%- sidebar.logo %>" alt="" class="sidebar-logo mt-3 py-0 mw-100"/>
    <% } %>
    
    <% if (sidebar.title) { %>
    <h4 class="sidebar-title text-center mt-2 mb-0 py-0"><%- sidebar.title %></h4>
    <% } %>

    <% if (sidebar.subtitle) { %>
    <div class="sidebbar-subtitle lead mt-1 pb-0 text-center"><%- sidebar.subtitle %></div>
    <% } %>

    <% if (sidebar.tools) { %>
      <% partial('sidebartools.ejs', { tools: sidebar.tools })%>
    <% } %>
  </div>
  <% if (sidebar.search) { %>
    <div class="sidebar-search px-4 mt-5">
    <% partial('navsearch.ejs', { search: sidebar.search }) %>
    </div>
  <% } %>

  <ul class="list-unstyled mt-4 px-4">
  <% sidebar.items.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor }) %>
  <% }) %>
  </ul>

</nav>