<% borderStart = "" %>
<% borderEnd = "" %>
<% if (sidebar.borders) { %>
  <% if (sidebar.borders.includes("start")) { %>
    <% borderStart = "border-start" %>
  <% } %>
  <% if (sidebar.borders.includes("end")) { %>
    <% borderEnd = "border-end" %>
  <% } %>
<% } %>
<% borderColor = sidebar['border-color'] ? 'bg-' + sidebar['border-color'] : '' %>


<nav class="ms-lg-auto pt-4 px-3 <%= borderStart %> <%= borderEnd %> <%= borderColor %>">
  <% if (sidebar.logo) { %>
  <img src="<%- sidebar.logo %>" alt="" class="sidebar-logo px-3"/>
  <% } %>
  
  <% if (sidebar.title) { %>
  <h4 class="px-3 pb-2"><%- sidebar.title %></h4>
  <% } %>
  
  <% if (sidebar.search) { %>
    <% partial('navsearch.ejs') %>
  <% } %>

  <ul class="list-unstyled my-0">
  <% sidebar.items.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor }) %>
  <% }) %>
  </ul>

</nav>