<% 
borderStart = ""
borderEnd = ""
bgCss = ""
mCss = "ms-lg-auto"
sidebarStyle = sidebar.style
if (sidebar.style !== "floating") { 
  borderStart = "border-start"
  borderEnd = "border-end" 
  bgCss = "bg-light" 
  mCss = "me-lg-auto"
  sidebarStyle = "anchored"
} 
%>


<nav class="<%- mCss %> py-4 px-4 <%- borderStart %> <%- borderEnd %> <%- borderColor %> <%- bgCss %> <%- sidebarStyle %> overflow-scroll">
  <% if (sidebar.logo) { %>
  <img src="<%- sidebar.logo %>" alt="" class="sidebar-logo px-3"/>
  <% } %>
  
  <% if (sidebar.title) { %>
  <h4 class="sidebar-title px-3"><%- sidebar.title %></h4>
  <% } %>

  <% if (sidebar.subtitle) { %>
  <div class="sidebbar-subtitle lead pb-2"><%- sidebar.subtitle %></div>
  <% } %>

  <% if (sidebar.tools) { %>
    <% partial('sidebartools.ejs', { tools: sidebar.tools })%>
  <% } %>

  <% if (sidebar.search) { %>
    <% partial('navsearch.ejs') %>
  <% } %>

  <ul class="list-unstyled my-0">
  <% sidebar.items.forEach(item => { %>
      <% partial('sidebaritem.ejs', { item, depth: 1, collapse: sidebar['collapse-level'], borderColor: borderColor }) %>
  <% }) %>
  </ul>

</nav>