<% if (item.href && item.text) { %>
<li class="pb-1 px-0">
  <a href="<%- item.href %>"><%- item.text %></a>
</li>
<% } else if (item.items && item.text) { %>  
  <% sectionId = (item.text + "-collapse").toLowerCase().replace(/\s/g,'') %>
  <% paddingCss = "ps-2" %>
  <% isCollapsed = collapse <= depth  && !item.expanded %>

  <ul class="list-unstyled my-0">
    <li class="sidebar-section">
      <button class="btn d-inline-flex text-start w-100 px-0 pt-0 pb-1 fw-lighter <%= isCollapsed ? "collapsed" : "" %> " data-bs-toggle="collapse" data-bs-target="#<%- sectionId %>" aria-expanded=" <%= isCollapsed ? "false" : "true" %>">
        <div class="me-auto fw-normal"><%- item.text %></div>
        <div><i class="bi bi-chevron-right ms-2"></i></div>
      </button>   
      <div class="collapse  <%= isCollapsed ? "" : "show" %>" id="<%- sectionId %>">
        <ul class="list-unstyled <%= paddingCss %>">
        <% item.items.forEach(subItem => { %>
          <% partial('sidebaritem.ejs', { item: subItem, depth: depth + 1, collapse: collapse, borderColor: borderColor }) %>
         <% }) %>
        </ul>
      </div>
    </li>
  </ul>
<% } else if (item.text && item.text.match(/^\-+$/)) { %>
<li class="px-0"><hr class="my-1 sidebar-divider hi <%= borderColor %>"></li>
<% } %>
