

<% toolCount = 0 %>
<div class="d-block pb-3 pt-2">
<% tools.forEach(tool => {  %>

  <% toolIcon = tool.icon || 'question-square' %>
  <% if (tool.items) { %>
    <% toolDropdownId = 'sidebar-tool-dropdown-' + toolCount %>
    <% toolCount = toolCount + 1 %>

    <a href="<%- tool.href %>" id="<%- toolDropdownId %>" class="sidebar-tool dropdown-toggle px-1" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-<%- toolIcon %>"></i></a>
    <ul class="dropdown-menu" aria-labelledby="<%- toolDropdownId %>">
      <% tool.items.forEach(item => { %> 
        <li>
          <a class="dropdown-item" href="<%- item.href %> ">
          <% if (item.icon) { %> 
            <i class="bi bi-<%- item.icon %> pe-1"></i>
          <% } %>
          <%- item.text %>
          </a>
        </li>
      <% }) %>     
    </ul>
  <% } else { %>
    <a href="<%- tool.href %>" title="<%- tool.text %>" class="sidebar-tool px-1"><i class="bi bi-<%- toolIcon %>"></i></a>
  <% } %>
<% }) %>
</div>